@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .some-selector {
    color: salmon;
    @apply text-5xl text-center;
  };
  .text-link.active {
    @apply font-semibold
    text-slate-700;
  };
  .text-link {
    @apply font-thin;
  };
}

@layer components {
  .inpt {
    @apply border-2
    border-gray-200
    rounded-md
    focus:border-orange-600
    focus:outline-none
    p-1;
  };
  .btn {
    @apply active:bg-gray-200
    hover:bg-gray-500
    hover:text-white
    cursor-pointer
    border-gray-500
    border-2
    inline-block
    px-2
    py-1
    rounded-md;
  };
  .btn-royal {
    @apply border-purple-700;
  };
  div.modal {
    @apply fixed
    bg-white
    inset-x-0
    mx-auto
    h-fit
    w-fit
    rounded-lg
    top-1/4
    z-40;
  };
  .modal-header {
    @apply text-lg
    w-full
    h-full
    rounded-t-lg
    p-3
    border-b-2;
  };
  .modal-body {
    @apply p-4;
  };
  .modal-footer {
    @apply flex
    flex-row
    justify-around
    rounded-b-lg
    py-3
    border-t-2;
  };
  .backdrop {
    @apply h-screen
    w-screen
    absolute
    inset-0
    z-10
    bg-gray-900
    opacity-50;
  }
}

/* @media screen and (min-width: 600px) {
  .custom-modal {
    width: 60%;
    transform: translate(30%, 25%);
  }
}; */